<div id="profile">
  <div id="left-profile" style="width: 25%;">
    <div class="card mb-4" style="width: 18rem; width: 100%;" id="profile-top">
      <img src="{{data.photo}}" class="card-img-top" alt="Profile photo" id="image-profile">
      <div class="card-body">
        <h5 class="card-title">{{data.username}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{data.role}}</li>
        <li class="list-group-item">{{data.email}}</li>
        <li class="list-group-item">{{data.telephoneNumber}}</li>
      </ul>
    </div>
  </div>
</div>