<div id="map-size">
  <div id='map-locations' style='height: 88vh;'></div>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoiam9zZWNhem9ybGEiLCJhIjoiY2szNjI3M2tkMDdjdjNocXA2bTl4ZThvdiJ9.Z4j_rPWQgMRpRRFW6na_ug';
  var map = new mapboxgl.Map({
  container: 'map-locations',
  style: "mapbox://styles/mapbox/streets-v11",
  center: [0, 0],
  zoom: 1.5
  });

  var geocoder = new MapboxGeocoder({ 
    accessToken: mapboxgl.accessToken, 
    mapboxgl: mapboxgl, 
    marker: true, 
  });

  map.addControl(geocoder);
</script>
  {{#each places as |place|}}
    <script>
      var id = "{{place._id}}";
      var lng = Number("{{place.lng}}");
      var lat = Number("{{place.lat}}");
      var name = "{{place.name}}"
      var imgUrl = "{{place.imgPath}}"
      var imgName = "{{place.imgName}}"

      var popup = new mapboxgl.Popup({closeOnClick: true})
      .setLngLat([lng, lat])
      .setHTML(`
        <br>
        <img src="${imgUrl}" alt="${imgName}" style="height: 70px">
        <br>
        <a href="/places/${id}" style="text-decoration: none; color: inherit; font-size: 1.1rem">${name}</a>
        <br>
        <p>${{price}}</p>
        `)
      .addTo(map);

      var el = document.createElement('div');
      el.id = 'marker';
      
      new mapboxgl.Marker(el)
      .setLngLat([lng, lat])
      .setPopup(popup) 
      .addTo(map);
    </script>
  {{/each}}