<div id="searched-places">
  {{#if places}}
    {{#each places as |place|}}
      <div class="card" style="width: 18rem; margin-bottom: 5vh;">
        <img src="{{place.imgPath}}" class="card-img-top" alt="{{place.imgName}}">
        <div class="card-body">
          <h5 class="card-title place-link"><a href="http://localhost:3000/places/{{place.id}}">{{place.name}}</a></h5>
          <p class="card-text">{{place.description}}</p>
        </div>
      </div>
    {{/each}}
  {{else}}
    <h1>No se han encontrado lugares</h1>
  {{/if}}
</div>